<h1>Controle de Transferências dos Clientes</h1>

<main class="main">
  <div class="dataDoInicio">
    <label for="dataInicio" class="inicio">Data Da Transação</label>
    <input type="text" id="dataInicio" [(ngModel)]="data" name="data"
      pattern="[0-9]{4}[-][0-9]{2}[-][0-9]{2}[ ][0-9]{2}[:][0-9]{2}" [maxLength]="16" required>
  </div>
  <div class="nomeOperador">
    <label for="nome">Nome do operador</label>
    <input type="text" id="nome" [(ngModel)]="nome" name="nome">
  </div>
  <div class="button">
    <button type="button" (click)="buscar()">Pesquisar</button>
  </div>
</main>


<table class="tabela">
  <thead>
    <th>Data</th>
    <th>Valor</th>
    <th>Tipo</th>
    <th>Nome Operador Transação</th>
  </thead>
  <tbody>
    <tr *ngFor="let transferencia of transferencias">
      <td>{{transferencia.dataTransferencia}}</td>
      <td>{{transferencia.valor}}</td>
      <td>{{transferencia.tipo}}</td>
      <td>{{transferencia.nomeOperadorTransicao}}</td>
    </tr>
  </tbody>
</table>
